.navbar {
  border: 1px solid #0001;
  .container {
    .item {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;

      a {
        font-size: 22px;
        font-weight: 500;
        color: #000;
        text-decoration: none;
        text-transform: capitalize;
      }

      button {
        background-color: orange;
        padding: 3px 15px;
        border: none;
        color: #fff;
        font-weight: 600;
      }
    }
  }
}

.col-md-8,
.col-md-4 {
  padding: 0px 20px;
}

.list-group {
  margin-bottom: 20px;
  list-style: none;
  border-radius: 0;
  border: 1px solid #0001;

  .list-group-item {
    border: none;
    margin-bottom: 10px;
  }
  .list-group-item:hover {
    background-color: orange;
    color: #fff;
  }
  .list-group-item.active {
    background-color: orange;
    font-weight: 500;
  }
}

.userProfile {
  .info {
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    gap: 10px;
    h5 {
      width: 75px;
      margin-bottom: 0;
      font-size: 18px;
    }
    h6 {
      margin-bottom: 0;
      font-size: 18px;
    }
    span {
      font-size: 18px;
    }
  }
  .userProfileItem {
    width: 400px;
    padding: 20px;
    border: 1px solid #0002;

    form {
      .title {
        h4 {
          text-transform: lowercase;
          font-weight: 600;
          margin-bottom: 20px;
          font-size: 26px;
        }
      }
      .formItem {
        margin-bottom: 15px;
        display: flex;
        flex-direction: column;
        gap: 3px;

        input {
          border: 1px solid #0002;
          padding: 5px 10px;
          outline-color: orange;
        }
      }
      .forgot-password {
        margin-bottom: 15px;
        color: orange;
        font-weight: 500;
        font-size: 18px;
      }
      .authBtn {
        width: 100%;
        padding: 5px 0px;
        border: none;
        background-color: orange;
        font-weight: 600;
        color: #fff;
        font-size: 16px;
        margin-bottom: 15px;
      }
      .createLogin {
        display: flex;
        font-size: 18px;
        justify-content: center;
        font-weight: 500;
        a {
          color: orange;
          text-decoration: none;
        }
      }
    }
  }
}

.addProduct {
  .form {
    margin-bottom: 50px;
    button {
      padding: 8px 0px;
      color: #fff;
      font-weight: 600;
      width: 100%;
      border: none;
    }

    .formItem {
      display: flex;
      flex-direction: column;
      gap: 5px;
      margin-bottom: 20px;

      input[type='text' i],
      input[type='number' i] {
        padding: 5px 15px;
        outline-color: orange;
        border: 1px solid #ced4da;
      }

      textarea {
        padding: 5px 15px;
        outline-color: orange;
        border: 1px solid #ced4da;
      }
    }
    .option {
      margin-bottom: 20px;
    }
  }
}

.action {
  display: flex;
  gap: 10px;

  .btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    line-height: 30px;
    padding: 0px;

    svg {
      font-size: 15px;
      color: #fff;
    }
  }
  .red {
    background-color: #dc3545;
    color: #fff;
  }
}

.table-orders {
  overflow-x: scroll;

  &::-webkit-scrollbar {
    height: 0px;
  }
}

.tableProduct {
  width: 50px;
}

.admin {
  margin-top: 100px;
}

@media only screen and (max-width: 556px) {
  .userProfile .userProfileItem {
    width: auto;
  }
}
